experiments/*.pth
*.out
wandb/*

cached_images/*
cached_images_0/*
cached_images_1/*
cached_images_2/*
cached_images_3/*

tab_workspace/*

results/results_gpu0.json
results/results_gpu1.json
results/results_gpu2.json
results/results_gpu3.json

*/__pycache__/
*/*/__pycache__/
*.pyc
*.pyo
*.egg-info/